$primary: #4A9CFF;
$light: #fff;
$primary-dark: #14152F;
$secondary: #9732E7;
$dark: #191919;
$background: #050515;
$white: #fff;

$font-size-base:   0.8rem;
$font-weight-bold:   600;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
